@import './variables.css';

/* Custom font face */
@font-face {
  font-family: 'cartoons_123regular';
  src: url('/assets/font/cartoons_123-webfont.woff2') format('woff2'),
       url('/assets/font/cartoons_123-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Reset and base styles */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: 0.8em;
  margin-top: 0.8em;
}


