name: Node CI

on:
  push:
  pull_request:
    branches: [dev, master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/set-up-node
    - name: npm install and build
      run: |
        npm ci
        npm run build
      env:
        CI: true
    - name: Unit tests
      run: npm run test:unit
    - name: Install Playwright browsers
      run: npx playwright install --with-deps
    - name: E2E tests
      run: npm run test:e2e
